@import "colors.css";

@font-face {
  font-family: "CustomFont";
  src:
    url("/fonts/Bringboldninetiesdemo-aY5Wa.otf") format("opentype"),
    url("/fonts/BringboldNinetiesDemo-E4O9r.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-heading: "CustomFont", system-ui, sans-serif;
}

.font-heading {
  font-family: var(--font-heading, system-ui, sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading, system-ui, sans-serif);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 636px) {
}
