---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Listen from "../components/Listen.astro";
import Shows from "../components/Shows.astro";
import Watch from "../components/Watch.astro";
import Subscribe from "../components/Subscribe.astro";
import Contact from "../components/Contact.astro";
import Moriah from "../images/moriah-web.jpg";
---

<Layout title="Mariela">
  <main>
    <Header
      headerImage={Moriah}
      heading="The Underglow"
      quote={`...is a bright, shimmery pop explosion. But don’t worry, this isn’t sugary, bubblegum pop. This is pop that’s been around the block and has memorized its way from the therapist’s office to the dance floor.`}
      author="Lizzie Wann"
      publication="The San Diego Troubadour"
    />
    <Listen />
    <!-- <Shows /> -->
    <Watch />
    <Subscribe />
    <Contact />
  </main>
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--primary-500);
  }
</style>
