---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Listen from "../components/Listen.astro";
import Shows from "../components/Shows.astro";
import Watch from "../components/Watch.astro";
import Subscribe from "../components/Subscribe.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Mariela">
  <main>
    <Header />
    <Listen />
    <Shows />
    <Watch />
    <Subscribe />
    <Contact />
  </main>
</Layout>
