---
import Text from "../components/Text.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { lyrics } from "../data/lyrics";
import Lyric from "../components/Lyric.astro";
---

<Layout title="Mariela - Lyrics">
  <main>
    <div class="lyrics">
      <!-- <Header /> -->
      <Text>Lyrics</Text>
      <Text>Coming soon!</Text>
      <!-- {
        lyrics.map((lyric) => (
          <Lyric
            album={lyric.album}
            lyrics={lyric.lyrics}
            title={lyric.title}
          />
        ))
      } -->
    </div>
  </main>
</Layout>
<style>
  main {
    height: 100%;
  }
  .lyrics {
    height: 100%;
    padding: 2rem;
  }
</style>
