---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { lyrics } from "../data/lyrics";
import Lyric from "../components/Lyric.astro";
---

<Layout title="Mariela - Lyrics">
  <main>
    <div class="lyrics">
      <Header page="lyrics" />
      <div class="lyric-group">
        {
          lyrics.map((lyric) => (
            <Lyric
              album={lyric.album}
              lyrics={lyric.lyrics}
              title={lyric.title}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
<style>
  main {
    height: 100%;
  }
  .lyrics {
    height: 100%;
  }

  .lyric-group {
    display: flex;
    gap: 1rem;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }
</style>
