---
import Text from "../components/Text.astro";
---

<div class="bio">
  <div class="content">
    <div class="version">
      <Text uppercase color="primary-500" type="heading-sm">Short bio</Text>
      <Text className="short-bio">
        Mariela is an indie-pop artist whose debut album The Underglow bursts
        with trans femme joy, anthemic hooks, unrequited love and unrepentant
        sincerity. Blending confessional lyrics with glittering production,
        Mariela crafts music for anyone yearning to be themselves and find their
        place. With growing festival and tour momentum, she’s carving out a
        space for queer/trans artists and women to thrive in the spotlight, not
        the margins.
      </Text>
    </div>
    <div class="version">
      <Text uppercase color="primary-500" type="heading-sm">Bio</Text>
      <Text>
        Mariela emerges as a bold new voice in indie-pop with The Underglow,
        fusing vibrant production, lyrical honesty, and trans femme freedom into
        a dance party where everyone is invited. Across ten exuberant tracks,
        Mariela turns personal liberation into communal joy with a mix of
        roaring guitars, sugary synths, and cathartic anthems that explore the
        loss of her marriage and the way that self-actualization has put a
        strain on her relationships with her family of origin.
      </Text>
      <Text>
        Moriah, explores the similarities between the biblical story, “The
        binding of Isaac on Mt. Moriah” to the way evangelical parents relate to
        their queer children while The Girls of Summer playfully reimagines a
        queer twist on the Don Henley classic.
      </Text>

      <Text>
        Co-written with a dynamic circle of queer and allied artists, including
        Grammy-winner Melody Walker, the record’s sound pulses with the energy
        of friendship and chosen family. It’s as bold and bright as the life
        Mariela is carving for herself.
      </Text>

      <Text>
        Following a 30+ date U.S. tour supporting Billboard-charting artist
        Flamy Grant, songwriter showcases in Nashville, and Pride events from
        San Diego to Seattle, Mariela continues to expand her reach and make a
        lasting impression on audiences far and wide.
      </Text>
    </div>
  </div>
  <div class="image-wrapper">
    <img
      src="https://res.cloudinary.com/dyspjkmgs/image/upload/v1766287397/mariela-15_czwvz0.jpg"
      alt="Photo of Mariela."
      loading="lazy"
    />
  </div>
</div>

<style>
  .bio {
    display: flex;
    flex: 3 1;
    /* align-items: flex-start;
    justify-content: center; */
    gap: 2.5rem;
    padding: 4rem;
    background-color: var(--neutral-900);
  }

  .bio image {
    width: 40%;
  }

  .version {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 636px) {
    .bio {
      flex-direction: column;
      padding: 1.5rem;
      gap: 2rem;
    }

    .content {
      max-width: unset;
    }

    .image-wrapper {
      max-width: unset;
      flex-basis: auto;
    }
  }
</style>
