---
import Text from "../components/Text.astro";
import Socials from "./Socials.astro";
---

<div class="contact" id="contact">
  <Text uppercase color="white" type="heading-sm">Contact</Text>
  <a href="mailto:natalie@raspberrymanagement.com">
    <Text color="white">natalie@raspberrymanagement.com</Text>
  </a>
  <Socials direction="horizontal" />
</div>
<style>
  .contact {
    background-color: var(--neutral-900);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
  }
  a {
    color: var(--white);
  }
</style>
