---
import Text from "../components/Text.astro";
import Socials from "./Socials.astro";
---

<div class="contact" id="contact">
  <Text uppercase color="primary-100" type="heading-sm" color="primary-100"
    >Contact</Text
  >
  <a href="mailto:natalie@raspberrymanagement.com">
    <Text color="primary-100">natalie@raspberrymanagement.com</Text>
  </a>
  <Socials direction="horizontal" />
</div>
<style>
  .contact {
    background-color: var(--primary-900);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: var(--primary-100);
  }
</style>
