---
import Player from "./Player.tsx";
import SplitSection from "./SplitSection.astro";
import album from "../data/album.json";
import Text from "../components/Text.astro";
---

<SplitSection
  id="listen"
  imageSrc="https://res.cloudinary.com/dyspjkmgs/image/upload/v1766785371/mariela-11_qxshgn.jpg"
  imageAlt="Mariela standing on a stage singing and playing her guitar."
>
  <div class="left-frame">
    <Player client:load album={album} />
  </div>
</SplitSection>
<style lang="scss">
  .left-frame {
    // padding: 2rem clamp(1.25rem, 4vw, 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
