---
import Player from "./Player.tsx";
import album from "../data/album.json";
---

<div class="listen" id="listen">
  <div class="left-frame">
    <Player client:load album={album} />
  </div>

  <img
    id="shefest"
    class="shefest"
    src={"https://res.cloudinary.com/dyspjkmgs/image/upload/v1766287397/mariela-15_czwvz0.jpg"}
    alt="Mariela standing on a stage singing and playing her guitar."
  />
</div>
<style lang="scss">
  .listen {
    display: flex;
    background-color: var(--white);
    position: relative;

    img {
      width: 47.5%;
      height: auto;
      object-fit: cover;
    }

    iframe {
      border-radius: 0;
      border: none;
    }
  }

  .left-frame {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
  }

  @media screen and (max-width: 636px) {
    #shefest {
      display: none;
    }
  }
</style>
