---
interface Props {
  album: string;
  title: string;
  lyrics: string[];
}
import Text from "./Text.astro";
const { album, lyrics, title } = Astro.props;
---

<div class="lyric">
  <Text type="heading-md">{title}</Text>
  <Text>{album}</Text>
  <Text>{lyrics}</Text>
</div>
<style>
  .lyric {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--screen-900);
    background-color: gray;
    color: var(--primary-900);
  }
</style>
