---
interface Props {
  album: string;
  title: string;
  lyrics: string[];
}
import Text from "./Text.astro";
const { album, lyrics, title } = Astro.props;
---

<div class="lyric" id={title}>
  <Text bold color="primary-100" type="heading-md">{title}</Text>
  <Text bold color="primary-100">{album}</Text>
  {lyrics.map((lyric) => <Text color="primary-100">{lyric}</Text>)}
</div>
<style>
  .lyric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    gap: 1rem;
    margin: 8rem;
    padding: 8rem;
    background-color: var(--screen-900);
  }
</style>
