---
import { Image } from "astro:assets";
import wordmark from "../images/wordmark.png";
import "../styles/global.css";
import Hamburger from "./Hamburger.astro";
const { page } = Astro.props;
---

<nav>
  <Hamburger />
  <ul class="nav-links">{page === 'epk'?
  (
  <li><a href="#listen">Music</a></li>
    <div class="divider"></div>
    <li><a href="#shows">Show History</a></li>
    <div class="divider"></div>
    <li><a href="#watch">Video</a></li>
    <div class="divider"></div>
    <li id="logo">
      <a href="/">
        <Image class="logo" src={wordmark} alt="Mariela" />
      </a>
    </li>
    <li><a href="/lyrics">Lyrics</a></li>
    <div class="divider"></div>
    <li><a href="/epk">EPK</a></li>
    <div class="divider"></div>
    <li><a href="#contact">Contact</a></li>
  ): (

    <li><a href="#listen">Music</a></li>
    <div class="divider"></div>
    <li><a href="#shows">Shows</a></li>
    <div class="divider"></div>
    <li><a href="#watch">Watch</a></li>
    <div class="divider"></div>
    <li id="logo">
      <a href="/">
        <Image class="logo" src={wordmark} alt="Mariela" />
      </a>
    </li>
    <li><a href="/lyrics">Lyrics</a></li>
    <div class="divider"></div>
    <li><a href="/epk">EPK</a></li>
    <div class="divider"></div>
    <li><a href="#contact">Contact</a></li>
      )}
  </ul>
</nav>

<style lang="scss">
  nav {
    position: absolute;
    z-index: 5;
    width: 100%;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    text-transform: uppercase;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  // a:after {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   bottom: -2px;
  //   width: 0px;
  //   height: 2px;
  //   background: var(--primary-100);
  //   transition: all 0.15s;
  // }

  // a:hover:after {
  //   width: 100%;
  //   left: 0;
  // }

  a {
    text-decoration: none;
    color: var(--primary-100);
  }
  a:hover {
    color: var(--white);
    transition: color ease-in-out 0.15s;
  }

  .logo {
    height: 4rem;
    width: auto;
    transform: translateY(0.5rem);
  }

  .divider {
    display: none;
  }

  @media screen and (max-width: 636px) {
    #logo {
      display: none;
    }

    .nav-links {
      display: none;
    }

    nav {
      height: 100%;
    }

    .expanded {
      display: flex;
      background-color: var(--primary-100);
      height: 100%;

      a {
        color: var(--primary-900);
      }
    }

    ul {
      flex-direction: column;
      gap: 0.5rem;
      background-color: var(--primary-900);
      margin: 0;
    }
    li {
    }
  }
</style>
