---
import "../styles/global.css";
import Hamburger from "./Hamburger.astro";
const { page } = Astro.props;
const underglowLogo = 'https://res.cloudinary.com/dyspjkmgs/image/upload/v1765410647/Mariela_Logo_dpwjbj.png'
---

<nav>
  <Hamburger />
  <ul class="nav-links">{page === 'epk'?
  (
  <li><a href="#listen">Music</a></li>
    <div class="divider"></div>
    <li><a href="#shows">Show History</a></li>
    <div class="divider"></div>
    <li><a href="#watch">Video</a></li>
    <div class="divider"></div>
    <li id="logo">
      <a href="/">
        <img class="logo" src={underglowLogo} alt="Mariela" />
      </a>
    </li>
    <li><a href="/lyrics">Lyrics</a></li>
    <div class="divider"></div>
    <li><a href="/epk">EPK</a></li>
    <div class="divider"></div>
    <li><a href="#contact">Contact</a></li>
  ): (
    <li><a href="#listen">Music</a></li>
    <div class="divider"></div>
    <li><a href="#shows">Shows</a></li>
    <div class="divider"></div>
    <li><a href="#watch">Watch</a></li>
    <div class="divider"></div>
    <li id="logo">
      <a href="/">
             <img class="logo" src={underglowLogo} alt="Mariela" />
      </a>
    </li>
    <li><a href="/lyrics">Lyrics</a></li>
    <div class="divider"></div>
    <li><a href="/epk">EPK</a></li>
    <div class="divider"></div>
    <li><a href="#contact">Contact</a></li>
      )}
  </ul>
</nav>

<style lang="scss">
  nav {
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 1rem 0;

  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    text-transform: uppercase;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }
  a:hover {
    color: var(--white);
    transition: color ease-in-out 0.15s;
  }

  .logo {
    height: 4rem;
    width: auto;
    transform: translateY(0.5rem);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.35));
  }

  .divider {
    display: none;
  }

  @media screen and (max-width: 636px) {
    #logo {
      display: none;
    }

    .nav-links {
      display: none;
    }

    nav {
      height: 100%;
    }

    .expanded {
      display: flex;
      background-color: var(--primary-100);
      height: 100%;

      a {
        color: var(--primary-900);
      }
    }

    ul {
      flex-direction: column;
      gap: 0.5rem;
      background-color: var(--primary-900);
      margin: 0;
    }
    li {
    }
  }
</style>
