---
import Text from "./Text.astro";
---

<div class="press">
  <Text color="primary-100" type="heading-md">Press & Reviews</Text>
  <ul>
    <li>
      <strong>The San Diego Troubador</strong> —
      <a
        href="https://sandiegotroubadour.com/theres-no-coming-back-from-moria/"
        target="_blank">There's No Coming Back from Moriah</a
      >, <a
        href="https://sandiegotroubadour.com/mariela-a-sanctuary-for-rachel-hall/"
        target="_blank">Mariela: A Sanctuary for Rachel Hall</a
      >
    </li>
    <li>
      <strong>Lightning 100</strong> —
      <a
        href="https://lightning100.com/localmusic/mariela-local-artist-of-the-week/"
        target="_blank">Mariela: Local Artist of the Week</a
      >
    </li>
  </ul>
</div>
<style>
  .press {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: var(--primary-300);
  }

  ul {
    list-style: none;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  a {
    color: white;
  }
  a:hover {
    color: var(--primary-100);
  }

  @media screen and (max-width: 636px) {
    .press {
      padding: 1rem;
    }
    ul {
      max-width: unset;
    }
  }
</style>
