---
import Text from "./Text.astro";
const { quote, author, publication } = Astro.props;
---

<div class="quote">
  <Text italic light color="white">{quote}</Text>
  <div class="attribution">
    <Text textAlign="right" color="primary-500">{author}</Text>
    <Text textAlign="right" italic color="white">{publication}</Text>
  </div>
</div>
<style>
  .attribution {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    gap: 0.5rem;
  }

  @media screen and (max-width: 636px) {
    .attribution {
      flex-direction: column;
    }
  }
</style>
