<div class="section-divider"></div><style>
  .section-divider {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 400px 100px 64px;
    border-color: transparent transparent var(--primary-100) transparent;
    transform: rotate(0deg);
    transform: translateY(-100px);
  }
</style>
