---
import Text from "../components/Text.astro";
---

<div class="social-media-stats">
  <Text uppercase type="heading-sm" color="white"
    >Social Media & Music Links</Text
  >
  <ul class="social-links">
    <li>
      <a
        href="https://www.instagram.com/mariela.band"
        target="_blank"
        rel="noopener noreferrer"
      >
        Instagram
      </a>
    </li>
    <li>
      <a
        title="Youtube"
        href="https://www.youtube.com/@marielaband4208"
        target="_blank"
        rel="noopener noreferrer"
      >
        Youtube
      </a>
    </li>
    <li>
      <a
        href="https://open.spotify.com/artist/0fOdB0OUb1fBfHf8V4N3Hy?si=8UjV-zBpQIWcWUYF27w3jA"
        target="_blank"
        rel="noopener noreferrer"
      >
        Spotify
      </a>
    </li>
    <li>
      <a
        href="https://soundcloud.com/mariela-band"
        target="_blank"
        rel="noopener noreferrer"
      >
        Soundcloud
      </a>
    </li>
    <li>
      <a
        href="https://music.apple.com/us/artist/mariela/1330323192"
        target="_blank"
        rel="noopener noreferrer"
      >
        Apple Music
      </a>
    </li>
  </ul>
</div>
<style>
  .social-media-stats {
    background-color: var(--primary-300);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    gap: 1rem;
    color: var(--primary-100);
  }
  a {
    color: unset;
    display: block;
    transition: all 0.15s;
    color: var(--white);
  }

  a:hover {
    color: var(--primary-100);
  }

  @media screen and (max-width: 636px) {
    .social-media-stats {
      padding: 1rem;
    }
    .social-links {
      flex-direction: column;
    }
  }
</style>
